body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Karla';
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}

    

li{
    padding-right: 40px;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
}
section{
    min-height: 100vh;
    width: 100%;
}
.text{

    display: grid;
    justify-content: flex-start;
}
.first{
    height: 80vh;
    width: 80%;
    margin: auto;
    background: url(../img/1.png) center/cover no-repeat;
    padding: 60px;
    display: table;
}
div.first:hover{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}   

.size{
    min-height: 120vh;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    
    grid-template-columns: auto auto auto;
    
}
.textoben{
    display: grid;
    margin-left: 75px;
    margin-right: 20px;
    grid-template-columns: auto auto auto;
    text-align: left;
    

}
span{
    
    text-align: right;
    
    
}
img{
    width: 70%;
    height: auto;
    
}
  .grid-item {
    padding: 20px;
    text-align: center;
    
    
  }
  img:hover{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .first2{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    background: url(../img/d7.png) center/cover no-repeat;
    padding: 60px;
    display: table;
    padding-top: 100px;

}
div.first2:hover{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.first3{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    background: url(../img/h6.png) center/cover no-repeat;
    padding: 60px;
    display: table;
}
div.first3:hover{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.first4{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    background: url(../img/c22.png) center/cover no-repeat;
    padding: 60px;
    display: table;
}
div.first4:hover{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.first5{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    background: url(../img/u8.png) center/cover no-repeat;
    padding: 60px;
    display: table;

}
div.first5:hover{

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.textbottom{
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto auto auto;
        font-family: 'Karla';
        min-height: 100px;
        
    }

.last{
    
    min-height: 700px;
}